/*general styling*/
.hide {
    display: none !important;
}

.txt {
    font-family: Verdana, Geneva, sans-serif;
}

.title_image {
    width: 75%;
    height: 75%;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

/*styling for header of page*/
.header {
    width: 100%;
    height: 10%;
    text-align: center;
}

/*styling for form*/
form {
    width: 100%;
}

/*styling for image selection section*/
.image {
    width: 100%;
    height: 40%;
    margin-top: 5%;
}

/*styling for caption selection section*/
.caption {
    width: 100%;
    height: 40%;
    margin-top: 5%;
}

/*styling for submit section*/
.submit {
    width: 100%;
    height: 10%;
    margin-top: 5%;
}

/*styling for submit section*/
.sectionHead {
    margin-left: 5%;
    width: 100%;
}

/*styling for submit section*/
.sectionBody {
    margin-left: 5%;
    width: 100%;
}

.form-control {
    width: 25%;
}

.btn {
    margin-left: 45%;
    width: 10%;
}